Project Backups/poverka [20230605, 13-46-36].pdsprj
Project Backups/poverka [Autosaved].pdsprj
/Project Backups
poverkabox/Project Backups/sim [*].pdsprj
/POVERKA_APP/bin/Debug
/POVERKA_APP/obj
/POVERKA_APP/.vs/POVERKA_APP/FileContentIndex
/POVERKA_APP/.vs/POVERKA_APP/v17/.suo
